<%= react_component "Contacts", {contacts: @contacts || [], prefix: @prefix || ""}, {prerender: true}%>

<p style="font-size: 10px;">Contacts#index</p>
<p style="font-size: 10px;"><%= @contacts.inspect %></p>
