<%= react_component "Contacts", {contacts: @contacts, size: @size, prefix: @prefix}, {prerender: false}%>

<p style="font-size: 10px;">Contacts#index</p>
<p style="font-size: 10px;"><%= @contacts.inspect %></p>
