<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>
<p><%= @contacts.inspect %>
</p>

<%= react_component "Contacts", {contacts: @contacts, size: @size, prefix: @prefix}, {prerender: true}%>
